<div class="chart">
    <button id="toggleChart" class="chart-btn">View Chart</button>
</div>

<div class="main"></div>
<h1>the office quotes</h1>
<div id="controls">
    <button class="filter-btn" data-character="">All</button>
    <button class="filter-btn" data-character="Michael Scott">Michael</button>
    <button class="filter-btn" data-character="Dwight Schrute">Dwight</button>
    <button class="filter-btn" data-character="Jim Halpert">Jim</button>
    <button class="filter-btn" data-character="Pam Beesly">Pam</button>
    <button class="filter-btn" data-character="Angela Martin">Angela</button>
    <button class="filter-btn" data-character="Stanley Hudson">Stanley</button>
    <button class="filter-btn" data-character="Kelly Kapoor">Kelly</button>
    <button class="filter-btn" data-character="Creed Bratton">Creed</button>
    <button class="filter-btn" data-character="Kevin Malone">Kevin</button>
    <button class="filter-btn" data-character="Andy Bernard">Andy</button>
</div>

<canvas id="quoteChart"></canvas>

<table id="quoteTable">
    <thead>
        <tr>
            <th>Character</th>
            <th>Quote</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="quoteTableBody"></tbody>
</table>
</div>