<!DOCTYPE html>
<html>
<head>
    <title>The Office Quotes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {{{body}}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/scripts/script.js"></script>
    </body>
</html>
